* {
    box-sizing: border-box;
}

body {
    background-color: #f9f8f7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Roboto', sans-serif;
}

.hidden{
    display: none;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.greenText{
    color: green;
}

.yellowText{
    color: gold;
}

strong{
    font-weight: bold;
}


.wrapper {
    background-color: rgba(255,255,255, 0.96);
    max-width: 1620px;
    margin: 40px auto;
    padding: 40px;
    position: relative;
}

.jobsBlock, .cityStateInfoBlock{
    width: 50%;
}

.jobsForm{
    margin: 0 auto 50px;
    width: 670px;
}

button, input[type="text"] {
  padding: 10px;
}

button:hover {
  cursor: pointer;
}

h1{
    margin: 0 0 25px 0;
}

h2{
    font-size: 2em;
    line-height: 1.5em;
}

h3{
    font-size: 1.5em;
}

p{
    line-height: 1.3em;
}

.scoreMeterBkg{
    background-color: #eee;
}

.scoreMeter{
    overflow: hidden;
}

.score{
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    font-style: italic;
    line-height: 0.7em;
    margin: 0;
}

.tenPercent{
    width: 10%;
}

.twentyPercent{
    width: 20%;
}

.thirtyPercent{
    width: 30%;
}

.fortyPercent{
    width: 40%;
}

.fiftyPercent{
    width: 50%;
}

.sixtyPercent{
    width: 60%;
}

.seventyPercent{
    width: 70%;
}

.eightyPercent{
    width: 80%;
}

.ninetyPercent{
    width: 90%;
}

.oneHundredPercent{
    width: 100%;
}

@media(max-width: 1620px){
    .wrapper{
        width: 92%
    }
}