* {
    box-sizing: border-box;
}

body {
    background-color: #f9f8f7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Roboto', sans-serif;
}

.hidden{
    display: none;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.greenText{
    color: green;
}

.yellowText{
    color: gold;
}

.footnote{
    color: #bbb;
    font-size: 12px;
    font-weight: 300;
}

strong{
    font-weight: bold;
}

label{
    color: #fff;
    display: block;
    margin-bottom: 10px;
}

input[type="text"]{
    background-color: rgba(255,255,255, 0.95);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
    display: block;
    font-size: 28px;
    height: 52px;
    margin-right: 5px;
    width: 460px;
}


button, input[type="text"] {
    border: 0;
    outline: 0;
    padding: 10px;
}

button{
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    font-size: 32px;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

button:hover {
    background-color: #000;
    cursor: pointer;
}

h1{
    margin: 0 0 25px 0;
}

h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1em;
    margin: 0 0 15px 0;
}

h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 10px 0;
}

p{
    font-size: 14px;
    line-height: 1.5em;
    margin: 0 0 10px 0;
}

a{
    color: #000;
    text-decoration: none;
}

header{
    color: #fff;
    margin-bottom: 40px;
    padding-top: 20px;
    text-align: center;
}

main{
    display: table;
    height: 78%;
    margin: 0 auto;
    width: 1000px;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.welcomeWrapper{
    display: table-cell;
    vertical-align: middle;
    height: 217px; 

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.welcomeText{
    margin-bottom: 30px;
    padding: 0 90px;
}

.welcomeText p{
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

.welcomeText p span{
    background-color: #000;
    display: inline-block;
    line-height: 1em;
    padding: 5px;
}

.jobsForm{
    margin: 0 auto 20px;
}

.tp-autocomplete{
    float: left;
    margin-right: 5px;
    max-width: 460px;
}

.tp-autocomplete.spinner{
    width: 460px;
}

.tp-ac__list{
    top: 52px;
}

.resultsWrapper {
    background-color: rgba(255,255,255, 0.95);
    margin-bottom: 40px;
    padding: 40px;
    position: relative;
    min-height: 100%;
}

.loadingIcon {
    color: rebeccapurple;
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 15%;
}

.iconColor{
    color: #ddd;
}

.jobsBlock, .cityStateInfoBlock{
    position: relative;
    width: 50%;
}

.jobsBlock{
    border-right: 1px solid #ddd;
    padding-right: 20px;
}

.jobPost{
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.1);
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 20px;
    padding: 10px;
    -webkit-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.1);

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.jobPost:hover{
    border: 1px solid #eee;
    box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.05);
    -webkit-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.05);
}

.jobPost .footnote{
    margin-bottom: 0;
}

.jobPost strong{
    font-weight: 600;
}

.jobPost h3{
    color: rebeccapurple;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.jobPost:hover h3{
    font-weight: 400;
}

.jobPost .fa-external-link{
    margin-left: 10px;
}

.cityStateInfoBlock{
    padding-left: 20px;
}

.summary, .qualityOfLifeScores, .costOfLivingSection, .housingSection, .trafficSection, .educationSection{
    margin-bottom: 30px;
}

.scoreMeterBkg{
    background-color: #eee;
    width: 60%;
}

.scoreMeter{
    overflow: hidden;
    padding-left: 5px;
}

.score{
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    font-style: italic;
    line-height: 0.7em;
    margin: 0;
}

.tenPercent{
    width: 10%;
}

.twentyPercent{
    width: 20%;
}

.thirtyPercent{
    width: 30%;
}

.fortyPercent{
    width: 40%;
}

.fiftyPercent{
    width: 50%;
}

.sixtyPercent{
    width: 60%;
}

.seventyPercent{
    width: 70%;
}

.eightyPercent{
    width: 80%;
}

.ninetyPercent{
    width: 90%;
}

.oneHundredPercent{
    width: 100%;
}

.categoryItem{
    border-bottom: 2px dashed #ddd;
    margin-bottom: 10px;
}

.categoryItem p{
    margin-bottom: 0;
    padding-bottom: 2px;
}

.categoryTitle{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.categoryDollarAmount{
    font-weight: 600;
}

.vegas-overlay{
    opacity: 1;
}

@media(max-width: 1100px){
    .wrapper, main{
        width: 960px;
    }

    .welcomeText{
        padding: 0 5%;
    }

    input[type="text"]{
        width: 30%;
    }
}

@media(max-width: 1024px){
    .wrapper, main{
        width: 92%;
    }
}

@media(max-width: 480px){
    .jobsBlock, .cityStateInfoBlock{
        padding: 0;
        width: 100%;
    }

    .jobsBlock{
        border-right: 0;
    }
}